<!-- 레이아웃을 받아옵니다. -->
{% extends "layout/layout.html" %}

{% block title %} 
메인페이지
{% endblock %}

{% block content %}

    <!-- 에러메시지를 출력합니다. -->
    {% if errorMsg %}
    <div class="alert alert-{{erroType}}" role="alert">
        {{ errorMsg }} <br> {{ request.session.member_id }}
    </div>
    {% endif %}
    {% if not request.session.member_id %} <!-- login 성공시 숨김 -->
    <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Sign In</h3>
                </div>
                <div class="card-body">
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="username" name="userId">
                            
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="password" name="pw">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn float-right btn-primary">
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center">
                        <a href="#">Forgot your password?</a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="jumbotron">
            <h1 class="display-4">login success!!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component
                for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out
                within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
        
        <div class="d-flex justify-content-center">
            <a href="{% url 'logout' %}">test logout</a>
        </div>
    {% endif %}

{% endblock %}