<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">

        <title>
            {% block title %}{% endblock %}
        </title>
    </head>
    <body>
        <div class="container">
            <!-- navbar입니다. -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{% url 'home' %}">Delight!</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <!-- 메인페이지로 이동! -->
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'home' %}">Home
                                <span class="sr-only">(current)</span></a>
                        </li>
                        {% if not request.session.member_id %} <!-- login 성공시 숨김 -->
                        <!-- 회원가입으로 이동! -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">회원가입</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">LOGOUT</a>
                        </li>
                        {% endif %}
                        <!-- 지역별검색 -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'search' %}">상세검색</a>
                        </li>
                        <!-- 음식타입별 검색 -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'foodSearch' %}">음식종류별검색</a>
                        </li>
                    </ul>
                    {% if request.session.member_id %} <!-- login 성공시 표출 -->
                        {{request.session.member_id}}님 환영합니다.
                    {% endif %}
                </div>
            </nav>
            
            <!-- 검색칸을 넣을 공간입니다. -->
            {% block search %}{% endblock %}

            <!-- 내용물을 담을 공간입니다. -->
            {% block content %}{% endblock %}
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    </body>
</html>